backend/image.png
backend/mask.png
backend/resized_input.png
frontend/public/homepage-after-1.jpg
frontend/public/homepage-after-2.jpg
frontend/public/homepage-before-1.jpg
frontend/public/homepage-before-2.jpg
